.box1{
    padding: calc(-2.08vmin + 4.167rem) calc(4.87vmin + 0.9rem);
}

.wrapper, .box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 100%;
}

.box1 h1 {
    font-size: calc(0.625vmin + 0.75rem);
    font-weight: normal;
}

.box1 p{
    font-size: calc(0.625vmin + 0.600rem);
    font-weight: normal;
}

.box1 img{
    border-radius: 100%;
}

.box2 {
    padding: calc(-2.08vmin + 4.167rem) calc(4.87vmin + 0.9rem);
}

.box2 h2{
    font-size: calc(0.625vmin + 0.75rem);
    
}

.box2 p {
    font-size: calc(0.625vmin + 0.600rem);
    font-weight: normal;
}

.box3 {
    padding: calc(-2.08vmin + 4.167rem) calc(4.87vmin + 0.9rem);
}

.box3 h2{
    font-size: calc(0.625vmin + 0.75rem);
}

.box3 p {
    font-size: calc(0.625vmin + 0.600rem);
    font-weight: normal;
}

footer p {
    font-size: small;
}
